  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="来源" >
    </mat-form-field>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td><mat-form-field class="example-full-width">
          <input matInput placeholder="型号">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <input matInput placeholder="周期">
        </mat-form-field></td>
      </tr>
      <tr>
        <td><mat-form-field class="example-full-width">
          <input matInput placeholder="库位">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <input matInput placeholder="数量">
        </mat-form-field></td>
      </tr>
    </table>

    <p>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="备注"></textarea>
      </mat-form-field>
    </p>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td><mat-form-field class="example-full-width">
          <input matInput placeholder="时间">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <input matInput placeholder="经手人">
        </mat-form-field></td>
        </tr>
    </table>
  </form>